.DS_Store
Paper-tex/nature-template.aux
Paper-tex/nature-template.bbl
Paper-tex/nature-template.blg
Paper-tex/nature-template.log
Paper-tex/nature-template.pdf
Paper-tex/nature-template.synctex.gz
Paper-tex/signature-community-management.aux
Paper-tex/signature-community-management.log
Paper-tex/signature-community-management.synctex.gz
