.DS_Store
Paper-tex/nature-template.aux
Paper-tex/nature-template.bbl
Paper-tex/nature-template.blg
Paper-tex/nature-template.log
Paper-tex/nature-template.pdf
Paper-tex/nature-template.synctex.gz
Paper-tex/signature-community-management.aux
Paper-tex/signature-community-management.log
Paper-tex/signature-community-management.synctex.gz
tex-sources/signature-community-management_IEEE.aux
tex-sources/signature-community-management_IEEE.bbl
tex-sources/signature-community-management_IEEE.blg
tex-sources/signature-community-management_IEEE.log
tex-sources/signature-community-management_IEEE.synctex.gz
tex-sources/signature-community-management_nature.aux
tex-sources/signature-community-management_nature.bbl
tex-sources/signature-community-management_nature.blg
tex-sources/signature-community-management_nature.log
tex-sources/signature-community-management_nature.synctex.gz
tex-sources/signature-community-management_nature.synctex.gz(busy)
